* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #353C4F;
}

a{
    text-decoration: none;
    color: black;
}


.cabeçalho {
    position: absolute;
    background-color: black;
    height: 67px;
    width: 100%;
}

.cabeçalho h1 {
    position: absolute;
    color: white;
    font-weight: 700;
    font-family: arial;
    font-size: 23px;
    left: 1580px;
    top: 20px;
}

#logo-empresa {
    position: absolute;
    height: 67px;
    width: 127px;
    left: 20px;
}

.School p {
    position: absolute;
    top: 10px;
    left: 70px;
    font-family: arial;
    font-weight: 700;
    font-size: 25px;
}

.Matematica div {
    position: absolute;
    background-color: #3F5796;
    opacity: 40%;
    top: 0px;
    width: 248px;
    height: 50px;
}

.Calendario {
    background-color: white;
    cursor: pointer;
    position: absolute;
    height: 40px;
    top: 0px;
    width: 250px;
    font-family: arial;
    border: 1px solid;
}

.Calendario p {
    position: absolute;
    top: 8px;
    left: 60px;
    font-family: arial;
    font-weight: 700;
    font-size: 20px;
}

#Calendario {
    position: absolute;
    top: 0px;
    left: 20px;
}

.Painel {
    background-color: white;
    cursor: pointer;
    position: absolute;
    height: 50px;
    top: 40px;
    width: 250px;
    font-family: arial;
    border: 1px solid;
}

.Painel p {
    position: absolute;
    top: 12px;
    left: 60px;
    font-family: arial;
    font-weight: 700;
    font-size: 20px;
}

#Painel {
    position: absolute;
    top: 5px;
    left: 15px;
}

.School {
    background-color: #3F5796;
    position: absolute;
    height: 50px;
    top: 90px;
    width: 248px;
    font-family: arial;
    border: 1px solid;
}

#School {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 47px;
}

.Matematica {
    background-color: white;
    cursor: pointer;
    position: absolute;
    height: 50px;
    top: 142px;
    width: 250px;
    font-family: arial;
    border: 1px solid;
}

.Matematica p {
    position: absolute;
    top: 12px;
    left: 60px;
    font-family: arial;
    font-weight: 700;
    font-size: 20px;
}

#Matematica {
    position: absolute;
    top: 5px;
    left: 15px;
}

.Portugues {
    background-color: white;
    cursor: pointer;
    position: absolute;
    height: 50px;
    top: 192px;
    width: 250px;
    font-family: arial;
    border: 1px solid;
}

.Portugues p {
    position: absolute;
    top: 12px;
    left: 60px;
    font-family: arial;
    font-weight: 700;
    font-size: 20px;
}

#Portugues {
    position: absolute;
    top: 5px;
    left: 15px;
}

.EdFinanceira {
    background-color: white;
    cursor: pointer;
    position: absolute;
    height: 50px;
    top: 242px;
    width: 250px;
    font-family: arial;
    border: 1px solid;
}

.EdFinanceira p {
    position: absolute;
    top: 12px;
    left: 60px;
    font-family: arial;
    font-weight: 700;
    font-size: 20px;
}

#EdFinanceira {
    position: absolute;
    top: 5px;
    left: 15px;
}

.Filosofia {
    background-color: white;
    cursor: pointer;
    position: absolute;
    height: 50px;
    top: 292px;
    width: 250px;
    font-family: arial;
    border: 1px solid;
}

.Filosofia p {
    position: absolute;
    top: 12px;
    left: 60px;
    font-family: arial;
    font-weight: 700;
    font-size: 20px;
}

#Filosofia {
    position: absolute;
    top: 5px;
    left: 15px;
}

.Historia {
    background-color: white;
    cursor: pointer;
    position: absolute;
    height: 50px;
    top: 342px;
    left: 0px;
    width: 250px;
    font-family: arial;
    border: 1px solid;
}

.Historia p {
    position: absolute;
    top: 12px;
    left: 60px;
    font-family: arial;
    font-weight: 700;
    font-size: 20px;
}

#Historia {
    position: absolute;
    top: 5px;
    left: 15px;
}

.Geografia {
    background-color: white;
    cursor: pointer;
    position: absolute;
    height: 50px;
    top: 392px;
    left: 0px;
    width: 250px;
    font-family: arial;
    border: 1px solid;
}

.Geografia p {
    position: absolute;
    top: 12px;
    left: 60px;
    font-family: arial;
    font-weight: 700;
    font-size: 20px;
}

#Geografia {
    position: absolute;
    top: 5px;
    left: 15px;
}

.Fisica {
    background-color: white;
    cursor: pointer;
    position: absolute;
    height: 50px;
    top: 442px;
    left: 0px;
    width: 250px;
    font-family: arial;
    border: 1px solid;
}

.Fisica p {
    position: absolute;
    top: 12px;
    left: 60px;
    font-family: arial;
    font-weight: 700;
    font-size: 20px;
}

#Fisica {
    position: absolute;
    top: 5px;
    left: 15px;
}

.Quimica {
    background-color: white;
    cursor: pointer;
    position: absolute;
    height: 50px;
    top: 492px;
    left: 0px;
    width: 250px;
    font-family: arial;
    border: 1px solid;
}

.Quimica p {
    position: absolute;
    top: 12px;
    left: 60px;
    font-family: arial;
    font-weight: 700;
    font-size: 20px;
}

#Quimica {
    position: absolute;
    top: 5px;
    left: 15px;
}

#Pagina {
    position: absolute;
    background-color: #3F5796;
    color: black;
    font-size: 11px;
    height: 82px;
    width: 250px;
    top: 67px;
    cursor: pointer;
    border: white solid 1px;
}

#Pagina h1 {
    position: absolute;
    left: 35px;
    top: 35px;
    font-family: arial;
}

.Lateral {
    position: absolute;
    background-color: white;
    height: 638px;
    width: 250px;
    top: 149px;
}

.materia {
    position: absolute;
    height: 67px;
    width: 232px;
    background-color: #FFFFFF;
    border-radius: 8px;
    font-family: Arial;
    font-weight: 700;
    top: 91px;
    left: 24px;
    font-size: 24px;
}


.RodaP {
    position: absolute;
    background-color: black;
    height: 150px;
    top: 787px;
    width: 100% ;
}

#Siga {
    position: absolute;
    font-size: 20px;
    background-color: black;
    color: white;
    font-weight: 700;
    top: 30px;
    left: 30px;
}

#YT {
    position: absolute;
    top: 65px;
    left: 65px;
}

#Insta {
    position: absolute;
    top: 65px;
    left: 150px;
}

#empresa {
    position: absolute;
    height: 84px;
    width: 130px;
    top: 40px;
    left: 500px;
}

#Line {
    position: absolute;
    top: 1px;
    left: 50%;
    z-index: 3;
}

#Unidade {
    position: absolute;
    font-size: 20px;
    background-color: black;
    color: white;
    font-weight: 700;
    left: 1000px;
    top: 50px;
}

#TEL {
    position: absolute;
    font-size: 20px;
    background-color: black;
    color: white;
    font-weight: 700;
    left: 1000px;
    top: 75px;
}

#endereço {
    position: absolute;
    font-size: 20px;
    background-color: black;
    color: white;
    font-weight: 700;
    left: 1000px;
    top: 100px;
}

#Problemas {
    position: absolute;
    font-size: 20px;
    background-color: black;
    color: white;
    font-weight: 700;
    left: 1550px;
    top: 20px;
}

#Relate {
    position: absolute;
    height: 43px;
    width: 250px;
    background-color: #FFFFFF;
    border-radius: 8px;
    font-family: Arial;
    font-weight: 700;
    top: 60px;
    left: 1560px;
    font-size: 19px;
    cursor: pointer;
    text-decoration: none;
}

footer {
    position: absolute;
    top: 180px;
    width: 100%;
    margin-top: -60px;
    padding: 10px 0;
    background-color: black;
    color: #aaa;
    justify-items: center;
}

#Tel {
    position: absolute;
    left: 200px;
    top: 5px;
}

footer p {
    font-size: 14px;
}