body {
    background-color: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.email_educacional_cadastro {

    background-color: black;
    height: 1000px;
    width: 1000px;
    position: absolute;
    border-style: groove;
    border-color: #005898;
}